@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap'); */

:root {
  --teal: #2dd4bf;
  /* rgba(46,91,173,0.6) */
}

#name {
  text-shadow: 2px 4px 4px var(--teal);
}

#about-icons {
  margin-top: 10%;
  margin-bottom: 30%;
}

@media (min-width: 768px) {
  #about-icons {
      margin-left: 25%;
      margin-top: 35%;
      margin-bottom: 0%
  }
}

.skills-box {
  box-shadow: -0.5rem 0.5rem #075985, -1rem 1rem #0c4a6e;
}

.skills-pill {
  box-shadow: 0 3px 10px #082f49;
}

#avatar{
  margin-right: 7%;
}

@media (min-width: 768px) {
  #avatar {
    margin-right: 0;
    margin-top: 20%
  }
}

.carousel-pic {
  box-shadow: 0 3px 10px #082f49;
}

.proj-title{
  text-shadow: 2px 4px 4px var(--teal);
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

  /* #avatar {
    height: 25vh;
    width: 25vw;
  }

#about-icons:hover {
    color: var(--teal)
} */
